
html, body, h1, h2, h3, p, ol, ul, li, a {
	padding:0 0 1px 0;
	border: 0;
	margin: 0;
}

body {
	display: none;
	background-color: #8b8b8b;
 
}
header, .experience, .education, .summary {
	max-width: 70%;
	padding: 10px;
	margin: 20px auto;
	background-color: #B4D602;
	border: 5px solid #B4D602;
	border-radius: 4px;
}

header {
	font-size: 20px;
	text-align: right;
	font-style: italic;
}

header p {
	font-size: 18px;
}

ul {
	margin-left: 20px;
}

.experience ul, .rising p, .fmi p {
	padding-bottom: 14px;
}

.experience ul:last-child {
	padding-bottom: 0px;
}

h2 {
	font-style: italic;
	font-size: 28px;
}






