
html, body, h1, h2, h3, p, ol, ul, li, a {
	padding:0 0 1px 0;
	border: 0;
	margin: 0;
}

body {
	display: none;
	background-color: powderblue;
	margin: 0px;   
}

header, .summary, .experience, .education {
	border-right: 150px solid #b2b2b2;
	border-left: 150px solid #b2b2b2;
	border-top: 10px solid #b2b2b2;
	border-bottom: 10px solid #b2b2b2;
	padding: 14px 14px 14px 14px;
}

header {
	border-top: 20px solid #b2b2b2;
}

.education {
	border-bottom: 20px solid #b2b2b2;
}

header {
	text-align: right;
}

header p {
	font-size: 18px;
}
ul {
	margin-left: 20px;
}

.experience ul, .rising p, .fmi p {
	padding-bottom: 14px;
}

.experience ul:last-child {
	padding-bottom: 0px;
}






